@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/telecom.jpg");
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: transparent;
    padding: 30px;
    transition: 0.5s
}

.navbar-light .navbar-brand {
    color: whitesmoke;
    font-size: 35px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 15px;
}

.navbar-light .navbar-toggler {
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

nav.shrink {
    background-color: rgba(0,0,0,0.8);
    padding:20px;
    transition: 0.7s;
}


.nav-item{
    margin:10px;
}

.nav-item .selected{
    border:1px solid lightgray;
}

.freetrial:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.centered {
    position: absolute;
    top: 40%;
    left: 30%;
    color: white;
}

.centered p {
    margin-bottom: 0px;
}

#footer{
    padding: 20px;
    position: fixed;
    bottom: 0;
    background-color:#2F4F4F;
    color:white;
}

.button-div{
    margin-top: 10px;
}

.contact-container{
    margin-top: 10%;
    background: rgba(0,0,0,0.6);
    padding: 4%;
    padding-bottom: 8%;
    border-radius: 10px;
    color: white;
}
.about-container{
    margin-top: 10%;
    background: rgba(0,0,0,0.7);
    padding: 4%;
    padding-bottom: 2%;
    color: white;
    max-width: 100%;
}
.services-container{
    margin-top: 10%;
    background: rgba(0,0,0,0.7);
    padding: 3%;
    max-width: 80%;
    border-radius: 10px;
    color: white;
}
.services-container-1{
    margin-top: 1%;
    background: rgba(0,0,0,0.7);
    padding: 3%;
    max-width: 80%;
    border-radius: 10px;
    color: white;
}
.services-container-last{
    margin-bottom: 5%;
}

.about_us_point ul{
  list-style: none;
}
.about_us_point ul li:before {
  content: '✓';
}
.about_us_point{
    padding:2%;
}
.carousel{
    height: 435px;
}
.login-container{
    margin-top: 10%;
}
.forgot-div{
    text-align: right;
}
.card-body{
    background: rgba(0,0,0,0.7);
    color:white;
}
.btn-link{
   color: white;
    text-shadow: 0 0 3px #FEFFEC;
}
@media only screen and (max-width: 770px){
    .navbar-light .navbar-brand{
        font-size: 22px;
    }
    .nav-item .selected{
        border:none;
    }
    .navbar-light .navbar-toggler{
        font-size: 14px;
    }
    .centered{
        top:25%;
        left:0px;
    }
    .centered h2{
        font-size: 25px;
    }
    h2 span{
        display: none;
    }
    h2{
        text-align: center;
    }
    .button-div{
        margin-top: 20px;
        text-align: center;
    }
    .button-div a{
        font-size: 15px;
    }
    .para-1{
        margin: 5%;
        padding: 5%;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }
    .para-2{
        display: none;
    }
    .nav-item{
        padding-left: 10px;
    }
    .navbar-collapse{
        background: rgba(70,70,70,0.9);
        position: absolute;
        left: 0px;
        right: 0px;
        top: 82px;
    }
    .about-container{
        max-width: 100%;
        margin: 120px auto;
    }
    .about-container h2{
        font-size: 24px;
    }
    .about-container h5{
        text-align: center;
    }
    .about-container .carousel{
        display: none;
    }
    .contact-container{
        max-width: 90%;
        margin:120px auto;
    }
    #footer{
        font-size: 12px;
    }
    .services-container{
        margin:0 auto;
        margin-top:120px;
        max-width: 90%;
    }
    .services-container-1{
        margin:0 auto;
        margin-top:10px;
        max-width: 90%;
    }
    .services-container h3,.services-container-1 h3{
        font-size: 22px;
    }
    .login-container{
        margin-top: 120px;
        margin-bottom: 100px;
    }
    .forgot-div{
        text-align: center;
    }
}
