/*navbar css */
.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-brand{
    font-size: 20px;
}
.nav-item{
    padding-left: 10px;
    padding-right: 10px;
    border-right:1px solid lightgray;
}
.nav-item:last-child{
    border-right: 0px;
}
.nav-link{
    font-size: 17px;
}
.user-link{
    font-size: 17px;
    color:#555;
}
/*global*/

body{
    background:white;
}

.jumbotron{
    background: #515151;
    color:white;
}
.classic-container{
    width: 90%;
    margin: 2% auto;
}
.row{
    width: 97%;
    margin: 0 auto;
}

.table-container{
    overflow-x:auto;
    width:100%;
}
.table tbody{
    padding-bottom: 100px;
}

/*form css*/

.form-row{
    margin-bottom:1%;
}
.form-container{
    width:70%;
    margin:5% auto;
}
.dropdown-item{
    cursor: pointer;
    white-space: unset;
    word-break: break-all;
    width: 250px;
}
.badge{
    line-height: inherit;
    border-radius: 50px;
    position: relative;
    top: 4px;
    text-align: center;
    font-size: 10px;
    left: -5px;
    width: 18px;
    padding: 1px;
}
/* label */

.label-div{
    text-align: left;
    line-height: 2.5;
    font-weight: 600;
}

.check-btn{
    margin-top:10px;
}
.mobile-notification{
    display: none;
}
.dropdown-menu{
    opacity: 0.9;
    top:134%;
    max-width: 250px;
    right: 12%;
    left: unset;
}
@media only screen and (max-width:520px){
    .nav-item{
        border-right: 0px;
    }
    .form-container{
        width: 90%;
    }
    .form-row{
        margin-bottom: 3%;
    }    
}
@media only screen and (max-width:400px){
    .navbar-brand{
        font-size: 16px;
    }
    .navbar-toggler{
        font-size: 14px;
    }
}
@media only screen and (max-width:980px){
    .mobile-notification{
        display: inline-block;
    }
    .pc-notification{
        display:none;
    }
    .dropdown-menu{
        right:15px;
        left:unset;
        top:100%;
    }
    .badge{
        line-height: inherit;
        border-radius: 50px;
        position: relative;
        top: 6px;
        text-align: center;
        font-size: 8px;
        left: 0px;
        width: 15px;
    }
}
