.form-container-invoice{
    width:70%;
    margin:1% auto;
}
.options{
    text-align: center;
    margin-bottom: 3%;
}
.option-button{
    width:250px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    text-align: center;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
}