.classic-container{
    width: 90%;
    margin: 2% auto;
}
.row{
    width: 97%;
    margin: 0 auto;
}
.form-control{
    display: inline;
}
.search-btn{
    line-height: 1.6;
    margin-bottom: 3px;
}
.table-container{
    overflow-x:auto;
    width:100%;
}
.table tbody{
    padding-bottom: 100px;
}

.search-btn{
    width:250px;
    margin-top:10px;
}
.add-user-div{
    text-align: right;
}

@media only screen and (max-width:590px){
    .add-user-div,
    .search-user-div{
        text-align: center;
    }
}